<div id="wrapper">
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand" *ngFor="let category of categories">
            <button class="category" [attr.category]="category" (click)="onCategoryBtnClick(category)"><i class="fa fa-fw fa-caret-down" [ngClass]="getCaretClass(category)"></i>{{category | capitalFirstLetter}}</button>
            <button class="indent" *ngFor="let algorithm of categoryMap[category]" [attr.algorithm]="algorithm.label" [attr.category]="category" [ngClass]="getCategoryState(category)">
              <a (click)="menuItemClick(algorithm.label)">{{algorithm.text}}</a>
            </button>
          </li>
      </ul>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="row">
        <div class="col-lg-12">
          <sd-about *ngIf="selectedMenuItem === 'animation'"></sd-about>
          <sd-markdown *ngIf="selectedMenuItem === 'markdown'"></sd-markdown>
        </div>
    </div>
  </div>
</div>
